<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlabs">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        PLACEHOLDER TEXT-->

        <activity android:name=".NewsArticleHelper"/>
        <activity android:name=".NewsArticleDetails" />
        <activity android:name=".MainNewsPage" />
        <activity android:name=".MyProfile"></activity>
        <activity android:name=".CurrencyConvert"></activity>

<!--        <activity android:name=".FoodRecipePage" />-->
<!--        <activity android:name=".CurrencyExchangePage" />-->

        <activity android:name=".ECSActivity" />
        <activity android:name=".ECSfavorite"/>
        <activity android:name=".ECStations" />
        <activity android:name=".DatabaseHelper"/>
        <activity android:name="ECSdetail"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>

